html,
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	margin: 0;
	height: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	min-height: 512px;
	min-width: 288px;
	height: 100%;
	width: 56.25vh;
	color: white;
	font-family: 'Lucida Console', Monaco, monospace;
}

h1 {
	font-weight: normal;
}

#timer {
	display: block;
	font-size: 4.5rem;
}
