html,
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	margin: 0;
	height: 100%;
}

#form-container-parent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	background-image: url('../assets/background-day.png');
	background-color: #b3f8e4;
	background-repeat: repeat-y;
	background-size: cover;
	/* overflow-y: auto; */
	min-height: 512px;
	min-width: 288px;
	height: 100%;
	width: 56.25vh;
	animation: slide 20s linear infinite;
}

#form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 100%;
	width: 56.25vh;
	animation: slide 20s linear infinite;
}

@keyframes slide {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -56.25vh 0;
	}
}

input {
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: large;
	text-align: center;
	width: 84%;
	height: 2.5em;
	margin-bottom: 27px;
	border-style: solid;
	border-color: rgba(84, 48, 6, 0.8);
	border-width: 3.3px;
	box-shadow: 0 0 4px 4px grey;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button {
	display: block;
	position: auto;
	background-image: url('../assets/start-button.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 7em;
	height: 3.5em;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	border: #543006;
	border-radius: 10px;
	border-width: 5px;
	box-shadow: 0 0 3px 3px grey;
	cursor: pointer;
}

button:active {
	height: 3.3em;
	width: 6.4em;
	box-shadow: 0 0 5px 5px grey;
}

#snackbar {
	visibility: hidden;
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: medium;
	text-align: center;
	width: 84%;
	height: 0px;
	background-color: #333;
	color: #fff;
	border-radius: 10px;
	padding: 16px;
	margin-bottom: 30px;
}

#snackbar.show {
	height: auto;
	visibility: visible;
	box-shadow: 0 0 3px 3px grey;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}
